<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ComercialEntities" connectionString="metadata=res://*/model.datamodel.ModelComercial.csdl|res://*/model.datamodel.ModelComercial.ssdl|res://*/model.datamodel.ModelComercial.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOCALHOST\SQLEXPRESS;Initial Catalog=Comercial;Persist Security Info=True;User ID=sa;Password=12345;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="ComercialEntities" connectionString="metadata=res://*/model.datamodel.ModelComercial.csdl|res://*/model.datamodel.ModelComercial.ssdl|res://*/model.datamodel.ModelComercial.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RYU-PC\SQLEXPRESS;Initial Catalog=Comercial;Persist Security Info=True;User ID=sa;Password=dbxyz3;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>